@model HealthCareMonitoringAPP.Models.PatientFeedback

<h1>Delete Feedback</h1>

<p>Are you sure you want to delete the feedback from @Model.Customer.Name?</p>

<form asp-action="DeleteConfirmed">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index", "PatientFeedback")" class="btn btn-secondary">Cancel</a>
</form>

